.no-min-height {
    min-height: 0 !important;
}

.testimonial-footer img {
	width: 42px;
	height: 42px !important;
}

.shop-tabs .cs-media-tabs.cs-media-tabs-light {
	.nav-link {
		color: #fff !important;
	}

	.nav-link.active {
		color:#5a5b75 !important;
	}
}