// WooCommerce alerts
.woocommerce-error {
	@extend .alert;
	@extend .alert-danger;

	a {
		color: $danger;
		font-weight: $font-weight-medium;
	}


	li {
		margin-bottom: 0;
	}
}


.woocommerce-notices-wrapper:not(:empty) {
	display: block;
	max-width: 100%;
	width: 100%;
	z-index: $zindex-fixed;
	.alert {
		&.alert-success a {
			color: darken($success, 10%);
		}
		&.alert-danger a {
			color: darken($danger, 10%);
		}
		&.alert-info a {
			color: darken($info, 10%);
		}
	}
}
